﻿@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

.headerTable {
    background-color: #520000db;
    color: white;
}

#myShipsContainer {
    height: 100%;
    margin-top: 7%;
    border: thick solid;
    border-color: gray;
    background-color: #15091fe6;
}
#myShipsHeader{
    text-align:center;
}
#myShipPanel {
    margin-top:5%;
}