/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
    font-family:monospace;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.bg-image {
    background-image: url("./Images/SpaceBackground.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    color: white;
    font-family: monospace;
}

/* For Mobile */
@media screen and (max-height: 540px) {
    .mainContainer {
        height: 400px;
    }
}

/* For Tablets */
@media screen and (min-height: 540px) and (max-height: 780px) {
    .mainContainer {
        height: 680px;
    }
}


/* For 1080p */
@media screen and (min-width: 1280px) and (max-width: 1920px) {
    .mainContainer {
        width: 1000px !important;
    }
}


/* For 1080p */
@media screen and (min-height: 780px) and (max-height: 1080px) {
    .mainContainer {
        height: 800px;
    }
}

/* For 2160p */
@media screen and (min-height: 1080px) and (max-height: 2160px) {
    .mainContainer {
        height: 1024px;
    }
}
